/***Global Styles***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 0.9375rem;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 68.75rem;
    margin: auto;
}

/***Nav***/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    padding: 1.25rem 0;
    font-size: 0.8125rem;
}

.main-nav .logo {
    width: 6.875rem;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 0.625rem;
}

.main-nav ul li a {
    padding-bottom: 0.125px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav .main-menu {
    flex: 1;
    margin-left: 1.25rem;
}
@media (max-width: 700px) {
    .main-nav .main-menu {
        display: block;
        position: absolute;
        top: 0;
        left:0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        transform: translateX(-31.25rem);
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 1.875rem;
    }

    .main-nav .main-menu li {
        padding: 0.625rem;
        border-bottom: #ccc solid 1px;
        font-size: 0.875rem;
    }

    .main-nav .main-menu li:last-child {
        border-bottom: 0;
    }

    .main-nav .main-menu.show {
        transform: translateX(-1.25rem);
    }

    .main-nav .right-menu {
        margin-right: 3.125rem;
    }
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 1.25rem;
    right: 1.875rem;
    z-index: 2;
    display: none;
}
@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    background: #262626;
    color: #fff;
    font-size: 0.9375rem;
}

.btn:hover {
    opacity: 0.9;
}
@media (max-width: 700px) {
    .btn:hover {
        opacity: 0.5;
    }
}

.dark {
    color: #fff;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}


/***Showcase***/

.showcase {
    width: 100%;
    height: 25rem;
    background: url("https://i.ibb.co/zGSDGCL/slide1.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 3.125rem;
    margin-bottom: 1.25rem;
}

.showcase h2, .showcase p {
    margin-bottom: 0.625rem;
}

.showcase .btn {
    margin-top: 1.25rem;
}


/***Home cards***/

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    margin-bottom: 2.5rem;
}
@media (max-width: 700px) {
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .home-cards {
        grid-template-columns: 1fr;
    }
}

.home-cards img {
    width: 100%;
    margin-bottom: 1.25rem;
}

.home-cards h3 {
    margin-bottom: 0.3125rem;
}

.home-cards a {
    display: inline-block;
    padding-top: 0.625rem;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 0.625rem;
}


/***Xbox***/

.xbox {
    width: 100%;
    height: 21.875rem;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 1.25rem;
}

.xbox .content {
    width: 40%;
    padding: 3.125rem 0 0 1.875rem;
}

.xbox p, .carbon p {
    margin: 0.625rem 0 1.25rem;
}

@media (max-width: 700px) {
    .xbox .content p {
        display: none;
    }

    .xbox .content h2 {
        margin-bottom: 1.25rem;
    }
}


/***Carbon***/

.carbon {
    height: 21.875rem;
    width: 100%;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
    width: 55%;
    padding: 6.25rem 0 0 1.875rem;
}
@media (max-width: 700px) {
    .carbon .content {
        width: 85%;
    }
}


/***Follow***/

.follow {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1.875rem 0 1.875rem;
}

.follow * {
    margin-right: 0.625rem;
}


/***Links***/
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.75rem;
    padding: 2.1875rem 0;
}

.links-inner {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.625rem;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 700px) {
    .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px) {
    .links .links-inner {
        grid-template-columns: 1fr;
    }
    .links-inner ul {
        margin-bottom: 1.25rem;
    }
}

.links li {
    line-height: 2.8;
}

/***Footer***/
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.75rem;
    padding: 1.25rem 0;
}

.footer-inner {
    max-width: 68.75rem;
    padding: 0 1.25rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
}
@media (max-width: 500px) {
    .footer div {
        padding-right: 1rem;
    }
}

.footer div i {
    margin-right: 0.625rem;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 1.875rem;
    margin-right: 1.875rem;
}
