/***Global Styles***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 0.9375rem;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 68.75rem;
    margin: auto;
}

/***Nav***/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    padding: 1.25rem 0;
    font-size: 0.8125rem;
}

.main-nav .logo {
    width: 6.875rem;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 0.625rem;
}

.main-nav ul li a {
    padding-bottom: 0.125px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav .main-menu {
    flex: 1;
    margin-left: 1.25rem;
}



